<div class="col-xs-12">
  <div class="col-xs-6">
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
      <input id="keyword" type="text" [(ngModel)]="keyword" class="form-control" name="keyword" placeholder="Enter the keyword" (keyup)="onSearchKeyword($event)">
    </div>
  </div>
  <div class="col-xs-6">
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-primary" (click)="onFilterLinks(false)">Unshared</button>
      <button type="button" class="btn btn-sm btn-warning" (click)="onFilterLinks(true)">Shared</button>
      <button type="button" class="btn btn-sm btn-default" (click)="onFilterLinks()">Reset</button>
    </div>
  </div>
</div>